/* Edited by Xiao Lin */
.book-container {
    padding-top: 30px;
}

.book-info {
    text-align: center;
}

.button{
    display:inline-block;
    padding:0 0;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

input[type=text]:focus {
    border: 1px solid #555;
}

.button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.page-number{
    float: left;
    font-family: monospace;
    color: #FFFFFF;
    padding: 10px
}

.pagination-buttons{
    float: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px;
    width: 10000px;
}
h3{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.horizontal-slider {
  width: 100%;
  max-width: 700px;
  height: 40px;
  margin: auto;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 10px solid #FFFFFF;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 40%);
    color: #FFFFFF;
}


.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: rgba(0, 0, 0, 0.54);
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}